$font-family: 'Josefin Sans', sans-serif;
$normal-font-size: 18px;
$title-font-size: 1.8rem;
$border-radius: 5px;
$check-background: linear-gradient(hsl(192, 100%, 67%), hsl(280, 87%, 65%));
$primary-color: hsl(220, 98%, 61%);
$text-color: hsl(200, 18%, 97%);
$height: 3rem;
$font-normal: 400;
$font-bold: 700;
$button-width: 50px;
$button-height: 50px;
