form {
    @include flex-box(space-evenly);
    @include themed() {
        color: get-theme-value('bg-secondary-color');
    }
    height: $height;
    padding: 0.5rem 0.5rem 0.5rem 1rem;

    > .btn {
        @include themed() {
            color: get-theme-value('plus-icon-color');
        }
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: inherit;
        font-size: 2.0rem;

        img {
            width: 25px;
        }
    }
}

.todo-input {
    @include themed() {
        background-color: get-theme-value('bg-secondary-color');
        color: get-theme-value('text-primary-color');
    }
    flex: auto;
    height: $height;
    border: none;
    font-size: 1rem;
    padding: 0 0.5rem;
    outline: none;
    width: 100%;

    &:active {
        @include themed() {
            background-color: get-theme-value('bg-secondary-color');
        }
    }
}